.container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 75px);
    margin: 100px auto;
    width: max-content;
    font-weight: bold;
}

.display {
    grid-column: 1 / span 4;
    text-align: right;
    background-color: #a2bbcf;
}

.display p {
    padding: 0 15px;
}

.total {
    font-size: 2em;
    color: #18445c;
}

.equation {
    font-size: 1.2em;
    color: #18445c;
    height: 17px;
    margin: 32px 0;
}

.clear {
    grid-column: 1 / span 2;
}

button {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    background-color: #205b7a;
    outline: none;
    border: none;
    border: 1px solid #a2bbcf;
    color: #a2bbcf;
}

button:hover {
    background-color: #205b7a;
    opacity: 90%;
}

.operator, .backspace, .clear, .equals {
    background-color: #18445c;
}

.operator:hover, .backspace:hover, .clear:hover, .equals:hover {
    background-color: #18445c;
    opacity: 90%;
}